version: "3.9"

services:
  mysql:
    image: mysql:latest
    volumes:
      - ./.srv/database:/var/lib/mysql
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: wpdbpassword
      MYSQL_DATABASE: wordpress
      MYSQL_USER: wordpress
      MYSQL_PASSWORD: wordpress
    ports:
      - "3310:3306"
  wordpress:
    depends_on:
      - mysql
    links:
      - mysql
    image: wordpress:latest
    ports:
      - "8000:80"
    restart: always
    environment:
      WORDPRESS_DB_HOST: mysql:3306
      WORDPRESS_DB_USER: wordpress
      WORDPRESS_DB_PASSWORD: wordpress
    volumes:
      - ./.srv/wordpress:/var/www/html
      - ./.srv/custom.ini:/usr/local/etc/php/conf.d/custom.ini
      - ./themes:/var/www/html/wp-content/themes
      - ./mu-plugins:/var/www/html/wp-content/mu-plugins
      - ./plugins:/var/www/html/wp-content/plugins
  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    restart: always
    depends_on:
      - mysql
    links: 
      - mysql
    environment:
      PMA_HOST: mysql
      MYSQL_USERNAME: wordpress
      MYSQL_ROOT_PASSWORD: wordpress
    ports:
      - "8181:80"
